.App {
  text-align: center;
}

.App-logo {
  min-width: 300px;
  min-height: 300px;
  pointer-events: none;
}

.primary{
  background-color: #06186C !important;
  border-color: #06186C !important;
}

.primary:hover, .primary-ghost:hover {
  background-color: #15359A !important;
  border-color: #00A1F3 !important;
}

.primary-ghost {
  background-color: transparent !important;
  border-color: #06186C !important;
  color: #06186C !important;
}

/*---- Scrollbar styles -----*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8D8B7C; 
  border-radius: 10px;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B4AD73; 
}


